  html{
   box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }

  p{
    margin: 0;
  }

  ul,
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

  button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;
  }

  body{
    overflow-x: hidden;
    color: #2F3035;
    font-family:"SFProDisplay-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }

  .container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .page-section{
    padding-bottom: 80px;
  }

  .tabs-content{
    display: none;
  }

  .tabs-content.tabs-content--active{
    display: block;
  }

