
@media screen and (max-width: 1300px){

  .products,
  .popular {

    &__title{
      text-align: center;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 20px 0 40px;

      li+li{
        margin-left: 22px;
      }

      #slick-slide-control10,
      #slick-slide-control11,
      #slick-slide-control12,
      #slick-slide-control13,
      #slick-slide-control14,
      #slick-slide-control30,
      #slick-slide-control31,
      #slick-slide-control32,
      #slick-slide-control33,
      #slick-slide-control34,
      #slick-slide-control35  {

        font-size: 0;
        line-height: unset;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #C4C4C4;
      }
    }
    .slick-active{

      #slick-slide-control10,
      #slick-slide-control11,
      #slick-slide-control12,
      #slick-slide-control13,
      #slick-slide-control14,
      #slick-slide-control30,
      #slick-slide-control31,
      #slick-slide-control32,
      #slick-slide-control33,
      #slick-slide-control34,
      #slick-slide-control35 {

        background-color: #1C62CD;

      }
    }
  }

}

@media screen and (max-width: 1200px){

  .banner-section{
    &__inner {
      justify-content: center;
    }
    &__slider{
      max-width: 600px;
      margin-right: 50px;

      &-img{
        max-width: 600px;
        min-height: 380px;
        object-fit: cover;
      }
    }
  }

  .categories{
    &__inner{
      justify-content: space-around;
    }
  }

  .products{
    &__item-wrapper{
      margin: 0 auto;
    }
  }

  .banner{
    &__link{
      img{
        width: 100%;
      }
    }
  }


}


@media screen and (max-width: 1100px){

  .header {
    .menu__item + .menu__item {
      padding-left: 20px;
    }

    &__address{
      margin-right: 20px;
    }
  }
}


@media screen and (max-width: 968px) {

  .header {

    padding-bottom: 25px;

    &__bottom {
      display: none;
    }

    .menu__list {
      display: none;
    }

    .menu__btn {
      display: block;

      &-line {
        width: 33.67px;
        height: 3px;
        background: #2F3035;
        border-radius: 3px;
        margin: 8px 0;
      }
    }

    .menu-mobile {

      &__line-wrapper {

        display: block;
        background: #F0F0F4;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 15px 0 15px 15px;
        overflow-x: scroll;

      }

      &__line {
        width: 450px;

        .menu__item + .menu__item {
          padding-left: 15px;
        }
      }
    }
  }

  .banner-section {
    &__inner {
      flex-wrap: wrap;
    }

    &__slider {
      max-width: 100%;
      margin: 0 0 40px 0;

      &-img {
        max-width: 100%;
      }

      &-item {
        text-align: center;
      }
    }
  }
  .mobile-overflow{
    width: 1000px;
  }
  .tabs-wrapper{
    overflow-x: scroll;
  }
  .search{

    &__tabs-item{
      padding: 5px 0;
      margin-right: 10px;
    }
    .tab--active{
      background: none;
      border-radius: unset;
      border-bottom: 2px solid #1C62CD;
    }
  }
}

@media screen and (max-width: 640px) {

  .header{
    &__address{
      display: none;
    }
  }

  .banner-section {

    .container{
      padding: 0;
    }

    &__slider {
      max-height: 329px;

      &-img {
        object-fit: contain;
        min-height: 217px;
      }
    }
  }
  .search{
    &__content-btn{

      padding: 17px;
      background-image: url("../img/search-black.svg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border-radius: unset;
      font-size: 0;
      line-height: 0;
      position: absolute;
      right: 7px; top: 9px;
    }

    &__content-input{
      height: 50px;
      padding-right: 50px;
    }

    &__content-form{
      position: relative;
    }
  }

  .popular{
    .products__btn--popular{
      display: block;
    }
  }

}

@media screen and (max-width: 440px) {

  .banner-section {

    &__slider {
      &-img {
        min-height: 164px;
      }
    }
  }
  .products{
      &__tab{
        padding-bottom: 5px;
      }
  }

}

@media screen and (max-width: 380px) {

  .categories{
    &__item{
      width: 288px;
      &-img{
        width: 52%;
        margin: 20px 0 0 0;
        &--motor{
          width: 26%;
        }
      }
    }
  }

  .banner{

    &__link{
      display: block;
      margin: 0 auto;
    }
    &__img{
      display: none;
      &--mobile{
        display: block;
      }
    }
  }

}
















































