
@media screen and (max-width: 1100px){

  .header {
    .menu__item + .menu__item {
      padding-left: 20px;
    }

    &__address{
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1100px) {

  .header{
    &__address{
      margin-right: -9px;
    }
  }
}

@media screen and (max-width: 968px) {

  .header {
    &__bottom {
      display: none;
    }

    .menu__list {
      display: none;
    }

    .menu__btn {
      display: block;

      &-line {
        width: 33.67px;
        height: 3px;
        background: #2F3035;
        border-radius: 3px;
        margin: 8px 0;
      }

    }

    .menu-mobile {

      &__line-wrapper{
        display: block;
        background: #F0F0F4;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 15px 0 15px 15px;
        overflow-x: scroll;
      }

      &__line {
        width: 450px;

        .menu__item + .menu__item {
          padding-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {

  .header{
    &__address{
      display: none;
    }

  }

}















































