    @import "global.scss";
    @import "libs.scss";
    @import "fonts.scss";

    // header

    .header{

      &__top-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
        font-weight: 700;
      }
      .menu__item{
        display: inline-block;
      }
      .menu__item + .menu__item{
        padding-left: 50px;
      }
      &__box{
        display: flex;
        align-items: baseline;
      }
      &__address{
        margin-right: 60px;
        width: 276px;
        padding-left: 30px;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          background-image: url("../img/address.svg");
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          left: 0;top: -11px;
        }
      }
      .user-list{
        margin-right: 15px;
        &__item{
          display: inline-block;
          padding-right: 10px;
        }
      }
      .basket{
        position: relative;
        &__num{
          position: absolute;
          right: -13px;
          bottom: -3px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #1C62CD;
          font-weight: 500;
          font-family:"SFProDisplay-Medium", sans-serif;
          font-size: 10px;
          line-height: 20px;
          text-align: center;
          color: #fff;
          padding: 1px;
        }
      }

      .menu-categories{
        background-color: #F0F0F4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 53px;

        &__link {
          padding: 15px 0 14px;
          //position: absolute;
          //top: 50%;
          //left: 50%;
          //transform: translate(-50%, -50%);
          transition: all ease-in-out .5s;
          position: relative;

          &::before{
            content: '';
            position: absolute;
            right: 0; bottom: -2px; left: auto;
            width: 0;
            height: 3px;
            background-color: #1C62CD;
            transition: all ease-in-out .5s;
          }

          &:hover{
            color: #000000;
          }

          &:hover:before{
            width: 100%;
           left: 0; right: auto;
          }
        }
      }
    }


    // banner-section

    .banner-section{

      &__inner{
        display: flex;
        justify-content: space-between;
      }

      &__slider{
        max-width: 870px;
        max-height: 400px;

        &-img{
          object-fit: contain;
        }

        &-btn{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 5;
        }

        &-btnLeft{
          left: 20px;
        }
        &-btnRight{
          right: 20px;
        }
      }

      .slick-dots{
        position: absolute;
        bottom: 40px;
        left: 0; right: 0;
        text-align: center;
        li{
          display: inline-block;
          padding: 0 5px;
        }
        button{
          font-size: 0;
          line-height: unset;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 1px solid #fff;
        }
      }
      .slick-active{
        button{
          background-color: #fff;
        }
      }

    }
    .price{
      font-family: Barlow, sans-serif;
    }
    .sale-item{
        max-width: 265px;
        text-align: center;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
      justify-content: space-between;

      &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &__info{
        color: #fff;
        padding: 8px 20px;
        background-color: #1C62CD;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      &__price{
        text-align: right;
      }

      &__price-new{
        font-weight: bold;
        font-size: 27px;
        line-height: 32px;
        color: #1C62CD;
        margin: 12px 6px 0 0;
        padding-right: 20px;
        position: relative;

        &::after{
          content: '';
          background-image: url("../img/icons-price.svg");
          background-repeat: no-repeat;
          width: 15px;
          height: 18px;
          position: absolute;
          right: 0; bottom: 6px;
        }
      }
      &__price-old{
        color: #C4C4C4;
        font-size: 14px;
        line-height: 17px;
        margin-right: 11px;
        padding: 2px 5px;
        position: relative;
        display: inline-block;
        background-image: url("../img/price-line.svg");
        background-repeat: no-repeat;

        &::after{
          content: '';
          background-image: url("../img/icons-price2.svg");
          background-repeat: no-repeat;
          width: 8px;
          height: 10px;
          position: absolute;
          right: -8px; top: 5px;
        }
      }
      &__footer{
        padding: 25px 10px;
        background-color: #F0F0F4;
        margin-top: 7px;
        font-size: 18px;
        line-height: 21px;
        span{
          display: block;
          font-family: Barlow, sans-serif;
          font-weight: 700;
          color: #1C62CD;
        }
      }
      &__title{
        font-family:"SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
      &__img{
        object-fit: contain;
        object-position: 34% 50%;
      }
    }


    // search

    .search{

      .tab--active{
        font-family:"SFProDisplay-Bold", sans-serif;
        border-radius: 5px;
        background-color: #F0F0F4;
        font-weight: 700;
      }

      &__tabs{
        margin-bottom: 30px;
      }
      &__tabs-item{
        padding: 11px 26px 12px;
      }

      &__content-form{
        display: flex;
      }

      &__content-btn{
        font-family:"SFProDisplay-Bold", sans-serif;
        padding: 17px 41px;
        color: #fff;
        background-color: #1C62CD;
        border-radius: 3px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-left: -3px;
      }

      &__content-input{
        border: none;
        background-color: #F0F0F4;
        border-radius: 3px;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 19px;
        width: 100%;

        &::placeholder{
          color: #656464;
        }
      }
    }

    // categories

    .categories{
      &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &__item{
        margin-bottom: 30px;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 370px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 16px;
        transition: all ease-in-out .3s;

        &:hover{
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        }

        &-info{
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-img{
          margin: 0 auto;
        }

        &-title{
          font-family: Barlow, sans-serif;
          font-weight: bold;
          font-size: 23px;
          line-height: 28px;
          transition: all ease-in-out .3s;

          &:hover {
            color: #1C62CD;
          }
        }

        &-text{
          font-size: 14px;
          line-height: 17px;
          color: #C4C4C4;
          position: relative;

          &::after{
            content: url("../img/more.svg");
            padding-left: 3px;
          }
        }
      }
    }

    // products

    .products,
    .popular {

      &__title{
        margin-bottom: 25px;
        font-family: Barlow, sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
      }

      &__tab{
        font-size: 15px;
        line-height: 18px;
        margin: 0 50px 15px 0;
        padding-bottom: 10px;
        position: relative;
      }

      .products__tab.tab--active{
        border-bottom: 2px solid #1C62CD;
      }

      &__item-wrapper{
        position: relative;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        text-align: center;
        padding: 20px 20px 31px;
        transition: all ease-in-out .3s;
        width: 271px;
        height: 403px;

        &--line{
          width: 100%;
        }

        &:hover{
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        }
      }

      &__item-title{
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          padding: 14px 0 25px;
      }

      &__item-favorite{
        position: absolute;
        right: 19px;
        top: 16px;
        width: 24px;
        height: 22px;
        z-index: 5;

        &::before{
          content: "";
          position: absolute;
          top: 0; left: 0;
          width: 24px;
          height: 22px;
          background-image: url("../img/heart-icon.svg");
        }
      }

      &__item-favorite--active {

        &::before {
          background-image: url("../img/heart-icon-active.svg");
        }
      }

      &__item-basket{
        position: absolute;
        right: 0; bottom: 0;
        background-color: #1C62CD;
        border-radius: 10px 0 0 0;
        width: 60px;
        height: 40px;
        padding: 5px 0 0 0;
        img{
          display: inline-block;
        }
      }

      &__item-price{
        font-family: Barlow, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
      }

      &__item-hover-text{
        padding: 18px 20px;
        background-color: rgba(255,255,255, .9);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
        display: inline-block;
        opacity: 0;
        transition: all ease-in-out .3s;
      }

      &__item-img{
        width: 200px;
        height: 200px;
      }

      &-item{

        &:hover{
          color: #1C62CD;
        }
        &:hover .products__item-hover-text{
          opacity: 1;
          color: #2F3035;
        }
        &:hover .products-item__notify-text{
          color: #2F3035;
        }
      }

      &-item--sale{
        &::before{
          content: "SALE";
          color: #fff;
          background-color: #1C62CD;
          padding: 6px 15px 8px;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.07em;
          position: absolute;
          left: 0; top: 0;
          text-transform: uppercase;
        }
      }
      &-item__notify-text{
        display: none;
        font-family:"SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
      &-item__notify-link{
        font-size: 16px;
        line-height: 19px;
        color: #1C62CD;
        text-decoration: underline;
        display: none;
      }

      &-left-grey{
        left: -34px;
      }

      &-right-grey{
        right: -10px;
      }

      &__btn{
        margin-top: 35px;
        text-align: center;

        &-link{
          padding: 17px 43px;
          background-color: #F0F0F4;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
        }
      }
    }

    // product-not-available item

    .products__item-wrapper.products-item__not-available .products__item-price{
      display: none;
    }
    .products__item-wrapper.products-item__not-available .products-item__notify-text{
      display: block;
      padding-bottom: 13px;

    }
    .products__item-wrapper.products-item__not-available .products__item-basket{
      display: none;
    }
    .products__item-wrapper.products-item__not-available .products-item__notify-link{
      display: block;
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
    }
    .products__item-wrapper.products-item__not-available .products__item-title {
      padding: 14px 0;
    }

    //


    // footer

    .footer {
      background-color: #F0F0F4;

      &__top {
        padding-top: 43px;

        &-item {
          width: 200px;
        }

        &-newsletter {
          width: 295px;
          margin-right: 91px;
        }

        &-item3{
          transform: translateX(-33px);
        }

        &-title {
          font-family: "SFProDisplay-Bold", sans-serif;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          margin-top: 15px;

          &--newsletter {
            margin-top: 0;
          }
        }
        &-social {
          width: 250px;
          margin-right: 75px;
        }
      }

      .social-list {
        display: flex;
        justify-content: space-around;
        padding-top: 16px;
      }

        &__form {
          padding-top: 34px;
          display: flex;
          justify-content: space-between;
        }

        &__form-input {
          border: none;
          padding: 0 12px;
          width: 70%;

          &::placeholder {
            color: #C4C4C4;
            font-size: 14px;
            line-height: 17px;
          }
        }

        &-list {
          font-size: 14px;
          line-height: 22px;
        }

        &__form-btn {
          text-transform: uppercase;
          font-family: "SFProDisplay-Semibold", sans-serif;
          font-weight: 600;
          font-size: 11px;
          line-height: 13px;
          text-align: center;
          letter-spacing: 0.12em;
          background: #1C62CD;
          color: #fff;
          padding: 10px 16px;
        }

        &__top-inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__bottom {
          display: flex;
          justify-content: center;
          padding: 46px 0 27px;

          &-link {
            color: #48494D;
            font-size: 10px;
            line-height: 12px;
            margin: 0 40px;
          }
        }
      }


    // Page 2 - catalog

    // breadcrumbs

    .breadcrumbs{
      margin: -40px 0 40px;

      &__list-item {
        display: inline-block;
        padding-right: 16px;
        margin-right: 10px;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        position: relative;
        &::after {
          content: "";
          background-image: url('../img/more.svg');
          position: absolute;
          right: -3px;
          bottom: 5px;
          width: 6px;
          height: 9px;
        }
          &:last-child:after{
            display: none;
          }

        }
      }

    // catalog

    .catalog {
      margin-bottom: 100px;

      &__title {
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
      }

      &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 47px;

        &-btn{
          display: flex;
          align-items: center;
        }

        .catalog__filter-button{
          width: 23px;
          height: 21px;
          opacity: .3;

          &--active{
            opacity: 1;
          }
        }

        &-btnLine {
          margin-left: 10px;
        }
      }

      &__filter-items {

        button {
          padding: 4px 28px 4px 22px;
          background: #F0F0F4;
          border-radius: 3px;
          font-size: 14px;
          line-height: 17px;
          opacity: 0.7;

        }

        button + button {
          margin-left: 8px;
        }
      }

      &__inner {
        display: flex;

        &-aside {
          flex: 0 0 302px;
          margin-right: 10px;
        }

        &-list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .products__item-wrapper {
            margin-bottom: 30px;

          }
        }
      }

      .select-item {
        border: 1.5px solid #D7D9DF;
        min-width: 178px;
        min-height: 33px;
        margin-right: 34px;

        &__option {
          font-size: 14px;
          line-height: 17px;
          padding-bottom: 6px;
        }
        &__option:nth-child(2){
          margin: 5px 0;
        }
      }

      .select-item .jq-selectbox__select{
        height: 26px;
      }

      .jq-selectbox__select .jq-selectbox__select-text {
        color: #2F3035;
        padding-top: 5px;
      }
      .jq-selectbox__select .jq-selectbox__trigger-arrow{
        top: 12px;
      }
    }

    .pagination{
      width: 100%;
      margin-top: 70px;

      &-list{
        display: flex;
        justify-content: center;
        align-items: center;

        &__item{
          font-family: Barlow, sans-serif;
          font-size: 18px;
          line-height: 22px;
          color: #C4C4C4;
          padding: 5px 13px;
          border: 2px solid transparent;

          a{
            display: block;
          }
        }
        &__item + &__item{
          margin-left: 10px;
        }
      }
    }
    .pagination-list__item.active{
      padding: 5px 13px;
      border: 2px solid #1C62CD;
      color: #1C62CD;
    }

    // aside

    .aside-filter{

      &__tab{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        padding-bottom: 7px;
      }
      &__tab + &__tab{
        margin-left: 40px;
      }
      &__item-drop{
        margin: 40px 0;
      }
      &__item-title{
        font-family:"SFProDisplay-Semibold", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
      }

      &__content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        &-radio{
          flex-wrap: nowrap;
        }

        &-range{
          display: block;
          width: 90%;
        }


        &-label{
          font-size: 14px;
          line-height: 17px;
          cursor: pointer;
        }
        &-box{
          width: 50%;
          &--brand{
            margin-bottom: 20px;
          }
        }
      }
      &__btn{
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #1C62CD;
      }
    }
    .filter__more,
    .aside-filter__content-text{
      width: 100%;
    }
    .filter-text{
      border: 1px solid #E0E0E0;
      padding: 4px 20px;
      margin-bottom: 20px;

      &::placeholder{
        font-size: 12px;
        line-height: 14px;
        color: #BDBEC2;

      }
    }

    .aside-filter__tab.tab--active{
      font-family:"SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      color: #2F3035;
      border-bottom: 2px solid #1C62CD;
    }
    .filter__item-drop{
      position: relative;
      cursor: pointer;

      &::before{
        content: '';
        width: 12px;
        height: 8px;
        background-image: url("../img/arrow-down.svg");
        position: absolute;
        left: 0;
        bottom: 5px;
        transform: rotate(0);
        transition: all ease-in-out .4s;
      }
      &--active {
        &::before{
          transform: rotate(180deg);
        }
      }
    }
    .jq-checkbox, .jq-radio{
      width: 14px;
      height: 14px;
      border: 1px solid #C4C4C4;
      background: #fff;
      border-radius: 2px;
      box-shadow: unset;
      vertical-align: -2px;
      margin: 0 10px 0 0;
    }
    .jq-checkbox.checked, .jq-radio.checked{
      background: #1C62CD;
      border: none;

    }
    .jq-checkbox.checked .jq-checkbox__div {
      width: 8px;
      height: 6px;
      margin: 4px 0 0 3px;
      border: none;
      transform: rotate(0);
      background-image: url("../img/white-checked.svg");
    }

    .jq-radio.checked .jq-radio__div {
       display: none;
    }

    // rangeSlider


    .irs-single,
    .irs-from,
    .irs-to, {
        display: none;
      }


    .irs--round .irs-handle{
      top: 34px;
      width: 0;
      height: 0;
      border: 3px solid #1C62CD;

      .from{
        left: 7.47019%;

      }
    }
    .irs--round .irs-min,
    .irs--round .irs-max {
      visibility: visible !important;
      top: 61px;
      font-family: Barlow, sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      text-decoration: underline;
      color: #2F3035;
      background:transparent;
      border-radius: 0;
      padding: 0 0 0 26px;
    }

    .irs--round .irs-min::before,
    .irs--round .irs-max::before{
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
      position: absolute;
      left: 0;


    }

    .irs--round .irs-min{
      &::before{
        content: 'от';
      }
    }
    .irs--round .irs-max{
      &::before{
        content: 'до';
      }
    }


    .irs--round .irs-line {
      height: 2px;
      background-color: #E0E0E0;
    }

    .irs--round .irs-bar {
      top: 36px;
      height: 2px;
    }



        // aside-filter__item-list

    .aside-filter__item-list{
      margin: 80px 0 40px;
    }
    .filter__item-list{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #C4C4C4;
      margin-bottom: 25px;
    }

    .filter-style__list-item{
      font-family: Barlow, sans-serif;
      font-size: 14px;
      line-height: 17px;
    }

    .filter-style--country{
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }

    .jq-selectbox__select {
      font-family: Barlow, sans-serif;
      font-size: 14px;
      line-height: 17px;
      color: #48494D;
      height: 32px;
      padding: 0 32px 0 10px;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      text-shadow: none;
      border: none;
      &:hover,
      &:active{
      background: transparent;
        box-shadow: none;
       }
    }

    .jq-selectbox__select-text{
      color: rgba(0, 0, 0, 0.6);
    }


    .jq-selectbox__trigger {
      border-left: none;
    }

    .jq-selectbox__trigger-arrow {
      right: 16px;
      top: 7px;
      width: 12px;
      height: 8px;
      background-image: url(../img/arrow-down.svg);
      border: none;
    }

    .jq-selectbox li{
      color: rgba(0, 0, 0, 0.6);
      padding: 5px 10px 0;
    }

    .jq-selectbox li.selected,
    .jq-selectbox li:hover{
      background: rgba(107, 126, 172, 0.05);
      color: rgba(0, 0, 0, 0.6);
    }

    .jq-selectbox__dropdown {
      box-sizing: border-box;
      width: 100%;
      margin: 2px 0 0;
      padding: 15px 19px 15px -1px;
      border: 1px solid #E0E0E0;
      border-radius: 0;
      box-shadow: none;
      top: 19px;
      z-index: 10;
      cursor: pointer;

      ul{

        &:first-child{
          padding-top: 8px;
        }
        &:last-child{
          padding-bottom: 10px;
        }
      }
    }
    .jq-selectbox.focused .jq-selectbox__select{
      border: none;
    }

    .btn-sale .aside-filter__content{
      flex-wrap: nowrap;
    }

    .btn-sale .aside-filter__content-label{
      position: relative;
    }

    .btn-sale__text{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-60%);
      font-family:"SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.07em;
      color: #C4C4C4;
    }

    .btn-sale .jq-checkbox {
      width: 60px;
      height: 25px;
      background: #F0F0F4;
      border-radius: 0;
      vertical-align: -7px;
      border: none;
    }

    .btn-sale .jq-checkbox.checked{
      background: #1C62CD;
    }

    .btn-sale .jq-checkbox.checked ~ .btn-sale__text{
      color: #fff;
    }

    .btn-sale .jq-checkbox.checked .jq-checkbox__div {
      display: none;
    }

    // aside-filter__item-footer

    .aside-filter__item-footer{
      text-align: center;
    }

    .filter-btn__send{
      display: inline-block;
      height: 50px;
      padding: 17px 85px;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #BDBEC2;
      background: #F0F0F4;
      position: relative;
      transition: all 2s ease;

      &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 50px;
        background: rgba(255, 232, 231, 0.32);
        transition: all .7s ease;
      }
      &:hover {
        color: #fff;
        background: #234ccd;
      }

      &--active{
        background: #1C62CD;
        color: #fff;
      }
    }

    .filter-btn__send:hover:before{
      width: 100%;
    }

    .filter-extra{
      font-size: 13px;
      line-height: 16px;
      margin: 20px 0 15px;
      padding-right: 30px;
      position: relative;

      &__content{
        display: none;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
      }

      &:after{
        content: '';
        width: 12px;
        height: 8px;
        background-image: url(../img/arrow-down.svg);
        position: absolute;
        right: 48px;
        bottom: 3px;
        transform: rotate(0);
        transition: all ease-in-out .4s;
      }
    }

    .filter__item-drop--active{
      &::after{
        transform: rotate(180deg);
      }
    }

    .filter-btn__reset{
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      border-bottom: 1px solid #C4C4C4;;
      color: #C4C4C4;
    }


    //product-page

    .product-card{
      margin-bottom: 82px;

      &__inner{
        display: flex;
        justify-content: space-between;
      }

      &__list{
        margin-bottom: 20px;
      }

      &__img-box{
        width: 500px;
        padding-top: 64px;
        text-align: center;
        font-family: Barlow, sans-serif;
        position: relative;

        &::before{
          font-size: 15px;
          line-height: 18px;
          width: 94px;
          height: 44px;
          padding: 11px 15px 8px;
          border-radius: 3px;
        }
      }

      &__content{
        width: 570px;
      }

      &__price-old{
        font-size: 30px;
        line-height: 36px;
        opacity: 0.6;
        position: relative;

        &::after{
            content: '';
            background-image: url('../img/old-price-line.svg');
            background-repeat: no-repeat;
            width: 132px;
            height: 21px;
            position: absolute;
            right: 190px;
            top: 8px;
        }
      }

      &__price-new{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #2F3035;
        margin: 6px 0 17px;
      }

      &__link{
        font-size: 15px;
        line-height: 18px;
        color: #1C62CD;
      }

      &__title{
        font-family:"SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
      }

      &__code{
        font-size: 15px;
        line-height: 18px;
        opacity: 0.6;
        margin-bottom: 21px;
      }

      &__buttons{
        margin-bottom: 50px;
        a+a{
          margin-left: 25px;
        }
      }

      &__tab{
        font-size: 20px;
        line-height: 24px;
        opacity: 0.6;
        padding-bottom: 5px;
      }

      &__tab + &__tab {
        margin-left: 34px;
      }

      &__item{
        padding: 15px 0 6px;
        border-bottom: 1px solid rgba(47, 48, 53,.1);
        width: 436px;
        display: flex;
        justify-content: space-between;
      }

      &__left{
        padding-right: 15px;
      }

      &__right{
        width: 125px;
      }

      &__more{
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 1px;
        border-bottom: 1px solid #1C62CD ;
        color: #1C62CD;
        margin-bottom: 40px;
      }

      &__btn{
        display: block;
        padding: 15px 53px 18px;
        background: #1C62CD;
        border-radius: 3px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
        transition: all ease 2s;

        &:hover{
          transform: scale(1.1);
        }
      }

    }

    .product-card__tab.tab--active{
      font-family:"SFProDisplay-Bold", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      opacity: 1;
      border-bottom: 2px solid #1C62CD;;
    }

    .tabs{
      margin-bottom: 5px;
    }

    // RateYo

    .rate{
      transform: translateY(-3px);
    }

    // product-details__tabs

    .product-details__tabs{
      margin-bottom: 100px;

      &-inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #F0F0F4;
        padding: 22px 0;
        margin-bottom: 51px;

        a{
          font-size: 20px;
          line-height: 24px;
          opacity: 0.6;
          padding-bottom: 5px;
        }
      }
    }

    .product-details__tab.tab--active{
        border-bottom: 2px solid #1C62CD;
        opacity: 1;
    }

    .product-details{
      &__top-line{
        margin-bottom: 50px;
      }

      &__label{
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53,.7);
      }

      &__input{
        margin: 0 100px 0 17px;
        width: 313px;
        background: #F0F0F4;
        border-radius: 3px;
        border: none;
        padding: 8px 37px 8px 17px;
      }

      &__delivery{
        margin-left: 54px;
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53,.7);
      }

      &__list-item{
        display: flex;
        padding: 20px 0;
        span{
          display: block;
        }
        &__title{
          font-size: 20px;
          line-height: 24px;
        }

      }
      &__list-item + &__list-item{
        border-bottom: 1px solid rgba(47, 48, 53,.1);
        font-size: 16px;
        line-height: 24px;
        color: rgba(47, 48, 53,.7);
      }
    }

    .list-item__part {

      &-address {
        width: 219px;
        margin-right: 81px;

      }

      &-workHours {
        width: 155px;
        margin-right: 95px;
      }

      &-available {
        width: 140px;
        margin-right: 90px;
      }

      &-num {
        width: 104px;
        //margin-right: 132px;
      }

      &-btn {
        margin-left: auto;
      }
    }

    .list-item {

      &__workHours1,
      &__workHours2 {
        display: flex;
        justify-content: space-between;
      }

      &__btn {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.12em;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 9px 40px;
        background: #1C62CD;
        border-radius: 3px;
      }
    }









































      @import "media.scss";

